{#  L'échappement de données (output escaping) est automatique avec Symfony / Twig
    Il n'est pas nécessaire d'écrite  {{ value|escape }}
    http://symfony.com/doc/current/templating.html#output-escaping
#}
{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% if app.user != null %}

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        <br>
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="/visualisation/evenement">Mon Planning</a></li>
                </ol>
            </div><!--/.row-->

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gestion des evenements</h1>
                </div>
            </div><!--/.row-->

        <div class="row">
            <a href="/evenement/nouveau"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Ajouter un nouveau evenement</button></a>
            <a href="/download/evenement"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-download-alt"></span>Télécharger les évènements</button></a>
        </div>


    {% endif %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}