{#  L'échappement de données (output escaping) est automatique avec Symfony / Twig 
    Il n'est pas nécessaire d'écrite  {{ value|escape }} 
    http://symfony.com/doc/current/templating.html#output-escaping
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
	{% if app.user != null %}
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <form role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <ul class="nav menu">
                <li class="active"><a href="/{{ path('index') }}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Accueil</a></li>
                <li ><a href="/evenement/afficher"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Mon Planning</a></li>
                <input type="button" onclick="location.href='/absence/demande';" value="Faire une demande d'absence" />


                <li role="presentation" class="divider"></li>
            </ul>

        </div><!--/.sidebar-->




	{% endif %}
	

{% endblock %}