{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                </ol>
            </div>


            <div class="row">
                <div class="panel-heading"><a  href="/administration/typecompetition">Gestion des Types de compétitions </a></div>
                <div class="panel-heading"><a href="/administration/echellecompetition">Gestion de l'échelle des compétitions</a></div>
                <div class="panel-heading"><a href="/administration/epreuve">Gestion des Epreuves</a></div>
                <div class="panel-heading"><a href="/administration/categorie">Gestion des Catégories</a></div>
                <div class="panel-heading"><a href="/administration/sport">Gestion des Sports</a></div>
                <div class="panel-heading"><a href="/administration/niveauliste">Gestion du niveau de liste ministerielle</a></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
                var actions = $("table td:last-child").html();

                // Delete row on delete button click
                $(document).on("click", ".delete", function(){
                    $(this).parents("tr").remove();
                    $(".add-new").removeAttr("disabled");
                });
            });
        </script>
    {% endblock %}


{% endblock %}