{% extends 'menu.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
 {{ parent() }}
    {% if app.user != null %}

        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
            <br>

            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="/"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                    <li><a href="/administration">Administration</a></li>
                </ol>
            </div>
            <br>
            <br>

        <div class="row">
            <a href="/administration/typecompetition"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Gestion des Types de compétitions</button></a>
            <br>
            <br>
            <a href="/administration/echellecompetition" > <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Gestion de l'échelle des compétitions</button></a>
            <br>
            <br>
            <a href="/administration/epreuve"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Gestion des Epreuves</button></a>
            <br>
            <br>
            <a href="/administration/categorie"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Gestion des Catégories</button></a>
            <br>
            <br>
            <a href="/administration/sport"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Gestion des Sports</button></a>
            <br>
            <br>
            <a href="/administration/niveauliste"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Gestion du niveau de liste ministerielle</button></a>
        </div>






        </div>
    {% endif %}

    {% block javascripts %}
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
                var actions = $("table td:last-child").html();

                // Delete row on delete button click
                $(document).on("click", ".delete", function(){
                    $(this).parents("tr").remove();
                    $(".add-new").removeAttr("disabled");
                });
            });
        </script>
        {{ parent() }}
    {% endblock %}

{% endblock %}